**Skill India AI-ML Scholarship**

*Assignment*: **Inventory Management System**

*Created By*: **JISHANTU KRIPAL**

**Read Inventory** (*Import JSON file*)

In [17]:
import json

In [18]:
fd = open("Records.json",'r')
r = fd.read()
fd.close()

Records = json.loads(r)

In [19]:
Records

{'1001': {'name': 'Pen', 'pr': 10, 'qn': 340},
 '1002': {'name': 'Pencil', 'pr': 8, 'qn': 100},
 '1003': {'name': 'Books', 'pr': 120, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Box', 'pr': 80, 'qn': 100},
 '1006': {'name': 'Eraser', 'pr': 10, 'qn': 250},
 '1007': {'name': 'Sharpner', 'pr': 15, 'qn': 200},
 '1008': {'name': 'Scale', 'pr': 30, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 350, 'qn': 10},
 '1010': {'name': 'Head Phone', 'pr': 450, 'qn': 50}}

**Adding New Item Into Inventory**

In [20]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

Records[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(Records)

fd = open("Records.json",'w')
fd.write(js)
fd.close()

Enter product id:1011
Enter name:Glue
Enter price:50
Enter quantity:40

In [21]:
Records

{'1001': {'name': 'Pen', 'pr': 10, 'qn': 340},
 '1002': {'name': 'Pencil', 'pr': 8, 'qn': 100},
 '1003': {'name': 'Books', 'pr': 120, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Box', 'pr': 80, 'qn': 100},
 '1006': {'name': 'Eraser', 'pr': 10, 'qn': 250},
 '1007': {'name': 'Sharpner', 'pr': 15, 'qn': 200},
 '1008': {'name': 'Scale', 'pr': 30, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 350, 'qn': 10},
 '1010': {'name': 'Head Phone', 'pr': 450, 'qn': 50},
 '1011': {'name': 'Glue', 'pr': 50, 'qn': 40}}

**Purchase And Getting the Bill from Inventory**

In [22]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", Records[ui_prod]['name'])
print("Price: ", Records[ui_prod]['pr'])
print("Billing Amount: ", Records[ui_prod]['pr'] * ui_quant)

Records[ui_prod]['qn'] = Records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1005
Enter the quantity: 3
Product:  Box
Price:  80
Billing Amount:  240

**Updated Inventory After Purchase**

In [23]:
Records

{'1001': {'name': 'Pen', 'pr': 10, 'qn': 340},
 '1002': {'name': 'Pencil', 'pr': 8, 'qn': 100},
 '1003': {'name': 'Books', 'pr': 120, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Box', 'pr': 80, 'qn': 97},
 '1006': {'name': 'Eraser', 'pr': 10, 'qn': 250},
 '1007': {'name': 'Sharpner', 'pr': 15, 'qn': 200},
 '1008': {'name': 'Scale', 'pr': 30, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 350, 'qn': 10},
 '1010': {'name': 'Head Phone', 'pr': 450, 'qn': 50},
 '1011': {'name': 'Glue', 'pr': 50, 'qn': 40}}